<% provide(:title, t('.login')) %>
<h1><%= t ('.login') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (:session) do |f| %>
      <%= f.label t('.email') %>
      <%= f.email_field :email, class: 'form_control' %>

      <%= f.label t('.password') %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit t('.login'), class: 'btn btn-primary' %>
    <% end %>
    <p><%= link_to t('.new_user'), signup_path %></p>
  </div>
</div>
