<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t('.applogo'), root_path, id: "logo" %>
    </div>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t('.home'), root_path %></li>
      <li><%= link_to t('.about'), about_path %></li>
      <% if logged_in? %>
      <li><%= link_to t('.users'), '#' %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('.account') %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to t('.profile'), current_user %></li>
          <li><%= link_to t('.settings'), '#' %></li>
          <li class="divider"></li>
          <li><%= link_to t('.sign_out'), signout_path, method: :delete %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to t('.sign_in'), signin_path %></li>
      <% end %>
      <ul class="language navbar-right">
        <li><%= link_to "English", locale: "en" %></li>
        <li><%= link_to "Español", locale: "es" %></li>
      </ul>
      </ul>
    </nav>
</header>
